include ../mixins/flash-messages

doctype html
html

	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")

		title= title || 'Ninjandex'
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

		link(rel="stylesheet", href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css")
		link(rel="stylesheet", href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css")

		//- Customise the stylesheet for your site by editing /public/styles/site.sass
		link(href="/styles/site.css", rel="stylesheet")

		//- Include template-specific stylesheets by extending the css block
		block css

		//- Add any other template-specific HEAD tags by extending the head block
		block head

		script(src="/js/jquery/jquery-3.0.0.min.js", type="text/javascript")

	body

		header
			.pure-menu.pure-menu-horizontal
				a.pure-menu-heading.pure-menu-link(href="/")
					| Ninjandex
				ul.pure-menu-list
					each link in navLinks
						li.pure-menu-item
							a.pure-menu-link(href=link.href)
								= link.label

					if user
						if user.canAccessKeystone
							li.pure-menu-item
								a.pure-menu-link(href="/keystone") Admin Panel

						li.pure-menu-item
							a.pure-menu-link(href="/keystone/signout") Sign Out

					else
						li.pure-menu-item
							a.pure-menu-link(href="/keystone/signin") Sign In

		//- BODY
		.body

			//- NOTE:
			//- There is no .container wrapping class around body blocks to allow more flexibility in design.
			//- Remember to include it in your templates when you override the intro and content blocks!

			block intro

			//- Flash messages allow you to display once-off status messages to users, e.g. form
			//- validation errors, success messages, etc.
			+flash-messages(messages)

			block content


		//- JAVASCRIPT


		//- Include template-specific javascript files by extending the js block
		block js
