.fileBox{
	display: block;
	width: 100%;
}

.centerTxt{
	text-align: center;
}

.fileBox .glyphicon{
	font-size: 180%;
	line-height: 2em;
}

.fileBox h3{
	margin: 0.6em 0 0;
	font-size: 120%;
	font-weight: bold;
}

.fileBox p{
	font-size: 90%;
	color: #6f6f6f;
	margin-bottom: 0;
}

.jumbotron h1 {
	font-size: 300%;
}